<div class="mui-appbar header">
    <table width="100%">
        <tr style="vertical-align:middle;">
            <td class="mui-appbar-height" align="right" style="padding-right: 30px">
                <a class="mui-text-display1" style="color: black" href="/">Unuseful tools</a>
            </td>
        </tr>
    </table>
</div>