
.random-movie-content {

  .about-tool {
    p {
      margin-bottom: 25px;
    }
  }

  .about-movie {

    // Keep text at edges from disappearing on mobile devices
    margin-left: 15px;
    margin-right: 15px;

    img {
      width: 300px;
      height: 423px;
      background-color: black;
    }

    .poster-right-aligned {
      text-align: center;
      background-color: $shark;
      padding: 0px;
      padding-top: 20px !important;
      @media(min-width:992px) {
        text-align: right !important;
        background-color: transparent;
        padding-top: 0px !important;
      }
    }

    table {
      height: 100%;
      background-color: $shark;
      border-bottom: 2px solid dimgray;
    }
    h2 {
      color: white;
      font-size: 40px;
    }

    td {
      height: 50px;
      color: white;
      background-color: #343838;
    }
    #movie-title {
      text-align: center;
      background-color: $shark;
      border-bottom: 1px ridge #00DFFC;

      height: 150px;
    }

    .short-cell {
      width: 20%;
    }

    #imdb-link {
      text-align: center;
      height: 100px;
      background-color: $shark;
      border-top: 1px ridge grey;
      font-size: 1.2em;
    }
    .mui-col-md-6 {
      padding: 0px;
    }
    #movie-facts {
      height: 425px;
      padding: 0px;
    }



  }
}

.get-new-movie {
  margin: 2em;
}