
.random-movie-content {

  h2 {
    margin: 2em;
  }

  .stat-list {
    height: 200px;

    ul {
      list-style-type: none;

      li {
        margin: 2em;
      }
    }
  }
}

.get-new-movie {
  margin: 6em;
}