.image-thumb {
  margin: 5px;
  display: inline-block;
  border: 4px solid white;
  position: relative;

}

.image-thumb:hover {
  border: 4px solid $sanmarino;


}

/*.image-thumb:before {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  content: "Download";
}*/