<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- TODO: TEMP material use -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

    <!-- TODO: TEMP material use -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <meta charset="UTF-8">
    <title>Tools</title>
</head>
<body>
<% include ./partials/header.ejs %>
<div class="container">
    <%-body -%>
</div>
<% include ./partials/footer.ejs %>

</body>
</html>