<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="//cdn.muicss.com/mui-0.1.22/css/mui.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.1.22/js/mui.min.js"></script>
    <meta charset="UTF-8">
    <title>Tools</title>
</head>
<body>
<% include ./partials/header.ejs %>
<div class="mui-container">
    <%-body -%>
</div>
<% include ./partials/footer.ejs %>
</body>
</html>