<!doctype html>
<html>
    <head>
        <title>React Isomorphic App</title>
    </head>
    <body>

        <div id="app">
        <%- reactContent %>
        </div>
        <!-- comment out main.js to see server side only rendering -->
        <script src="http://localhost:8080/js/app.js"></script>
    </body>
</html>