<% layout('../base') -%>
<div class="mui-container">
    <div class="mui-panel">
        <div id="app"><%- reactContent %></div>
    </div>
</div>



<% include ../partials/ads.ejs %>

<script src="<%= reactEntryPath %>/js/<%= reactScript %>.entry.js"></script>
