<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<% include ../partials/header.ejs %>
<% include ../partials/tool-description.ejs %>
<div id="app">
    <%- reactContent %>
</div>
</body>
</html>