<% layout('../base') -%>

<div class="mui-panel" style="padding:0px">
    <div class="jumbo">
        <div class="mui-container">
            <h2 class="jumbo__title">Make yourself less unuseful!</h2>
            <p class="jumbo__text">Small tools for smart people</p>
        </div>

    </div>
</div>
<div class="mui-container">
    <div class="row">
        <div class="mui-col-md-3 tool-thumb">

            <div>
                <a href="/bmi">
                <img src="images/scale.png">
                <a href="/bmi">BMI calculator</a>
            </a>
            </div>

        </div>
        <div class="mui-col-md-3 tool-thumb" >
            <a href="/rgb-to-hex">
            <div class="center">
                <img src="images/color-converter.png">
                <a href="/rgb-to-hex">Convert color RGB to hex</a>
            </div>
            </a>
        </div>
        <div class="mui-col-md-3 tool-thumb">
            <div>
                <a href="/webcam">
                    <img src="images/webcamera.png">
                    <a href="/webcam">Browser webcamera</a>
                </a>
            </div>

        </div>
        <div class="mui-col-md-3 tool-thumb">
            <div>
                <a href="/weeknumber">
                    <img src="images/calendar.png">
                    <a href="/weeknumber">Week number</a>
                </a>
            </div>
        </div>
    </div>
</div>