<% layout('../base') -%>
<div class="" style="padding: 50px">
    <div class="row">
        <div class="mui-col-md-12">
            <div class="jumbo">
                <h2 class="jumbo__title">Site with lots of tools</h2>
                <p class="jumbo__text">All tools are modern and reactive, with minimal commercial banners</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mui-col-md-3 tool-thumb">

            <div class="center">
                <a href="/bmi">
                <img src="/scale.png">
                <a href="/bmi">BMI calculator</a>
            </a>
            </div>

        </div>
        <div class="mui-col-md-3 tool-thumb" >
            <a href="/color-converter">
            <div class="center">
                <img src="/color-converter.png">
                <a href="/color-converter">RGB to Hex</a>
            </div>
            </a>
        </div>
        <div class="mui-col-md-3 tool-thumb">
            <div class="center">
                <a href="/webcam">
                    <img src="/webcamera.png">
                    <a href="/webcam">Browser webcamera</a>
                </a>
            </div>

        </div>
        <div class="mui-col-md-3 tool-thumb">
            <div class="center">
                <a href="/weeknumber">
                    <img src="/calendar.png">
                    <a href="/weeknumber">Week number</a>
                </a>
            </div>
        </div>
    </div>
</div>