<% layout('../base') -%>
<% block('title', "")%>
<% block('metaDescription', "A collection of simple online tools to make you feel less unuseful.")%>

<div class="mui-panel" style="padding:0px">
    <div class="jumbo">
        <div class="mui-container">
            <h2 class="jumbo__title">Make yourself less unuseful!</h2>
            <p class="jumbo__text">Simple tools for smart people</p>
        </div>

    </div>
</div>
<div class="mui-container">
    <div class="row">
        <div class="mui-col-md-3 mui-col-sm-4  tool-thumb">
            <div>
                <a href="/bmi-calculator">
                <img src="images/scale.svg">
                <a href="/bmi-calculator">BMI calculator</a>
            </a>
            </div>
        </div>

        <div class="mui-col-md-3 mui-col-sm-4  tool-thumb" >
            <a href="/rgb-to-hex">
            <div>
                <img src="images/color.svg">
                <a href="/rgb-to-hex" style="display:block">Convert color RGB to hex</a>
            </div>
            </a>
        </div>

        <div class="mui-col-md-3 mui-col-sm-4  tool-thumb">
            <div>
                <a href="/webcam">
                    <img src="images/camera.svg">
                    <a href="/webcam" style="display:block">Browser webcamera</a>
                </a>
            </div>

        </div>

        <div class="mui-col-md-3 mui-col-sm-4  tool-thumb">
            <div>
                <a href="/weeknumber">
                    <img src="images/calendar.svg">
                    <a href="/weeknumber" style="display:block">Week number</a>
                </a>
            </div>
        </div>
    </div>
</div>